@model ITOfficeManagementSystem.ViewModels.AssignTaskVM

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task - IT_OMS</title>
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body style="align-content: center; text-align: center;">
    <div class="container" style="width: 80%;">
        <h4>Task Details</h4>
        <hr />
        <table class="table-hover" style="width: 100%;">
            <tr>
                <th>Task Id:</th>
                <td>@Model.TaskId</td>
            </tr>
            <tr>
                <th>Task Title:</th>
                <td>@Model.TaskTitle</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Date:</th>
                <td>@Model.Date</td>
            </tr>
            <tr>
                <th>Employee Id:</th>
                <td>@Model.EmployeeId</td>
            </tr>
        </table>
    </div><br />

    <div>
        <a asp-controller="AssignTask" asp-action="UpdateTask" asp-route-id="@Model.TaskId" class="btn btn-outline-success">Edit</a> |
        <a asp-controller="AssignTask" asp-action="TaskList" class="btn btn-outline-info">Back to List</a>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
</body>
</html>
